footer {
    height: 2rem;
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #939193;
    /* position: absolute; */
    /* bottom: 0; */
    position: fixed;
    bottom: 0;
}

footer p {
    margin: auto;
    padding: 0;
    font-size: 1rem;
    color: white;
}