* {
    margin: 0;
    padding: 0;

    /* border: 2px solid red; */
}

body {
    background: linear-gradient(rgba(15, 13, 13, 0.6), rgba(38, 35, 35, 0.7)), url(../homepage/bodybg.jpg);
    color: white;
}

#container {
    /* border: 2px solid red; */
    border-radius: 12px;
    display: flex;
    margin: 113px auto;
    box-shadow: 4px 5px 41px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30em;
    width: 23em;
    /* color: aliceblue; */
}

.login-input {
    /* border: none; */
    display: flex;
    flex-grow: 2;
    width: 301px;
    height: 28px;
    margin: 10px auto;
    /* border:  4px 0 dotted white; */
    /* border-bottom: rgb(173, 33, 33); */
    /* background-color: black; */
    border-radius: 5px;
    /* color: aliceblue; */
    box-shadow: 4px 5px 20px;
}

#login-header {
    text-align: center;
    box-sizing: border-box;
    font-family: monospace;
}

#submit-btn {
    height: 45px;
    width: 301px;
    font-size: 17px;
    background: #1877f2;
    color: white;
    border-radius: 9px;
    cursor: pointer;
    border: none;
}

#login-form {
    border: 2px solid green;
    display: flex;

}

.alert {
    padding: 11px;
    width: 407px;
    background-color: #3d953d;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
#exist_username-para{
    /* margin-top: 8px; */
    text-align: right;
    font-size: 11px;
    color: red;
    margin-bottom: 6px;
    margin-top: -6px;
    margin-bottom: 6px;
    margin-top: -6px;
}