[pagename=login]::before {
    content: "";
    position: fixed;
    top: 0;
    background: linear-gradient(#000000ba, #000000ba), url(../_images/webImages/registretion/login/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: blur(6px);
}



.mandatory_alert {
    color: red;
    font-family: initial;
}


.readmition_section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readmition_form {
    /* height: 32vh; */
    /* width: 40vw; */
    border: 2px solid white;
    border-radius: 13px;
    box-shadow: 0px 0px 11px 0px;
    color: white;
    /* background-color: white; */
    padding: 0 10px;
    margin: auto;
}

.form_heading {
    width: 100%;
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
}

.unic_id_sec {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#unic_id {
    width: 62%;
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    outline: none;
    padding: 0 3%;
}

#unic_id::placeholder {
    color: white;
}

.unic_id_lable {
    font-weight: bold;
    padding-top: 2px;
}

[name=otp_genarator] {
    border: none;
    border-radius: 8px;
    outline: none;
    color: white;
    font-weight: 700;
    background: #10ad10;
}

/* otp section */
.otp_section {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#otp {
    /* width: 62%; */
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    outline: none;
    padding: 0 3%;
}

#otp::placeholder {
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.submit_btn {
    width: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.otp_lable {
    font-weight: 700;
}

#loading {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff5;
}

#loading svg {
    height: 2rem;
    width: 2rem;
    fill: blueviolet;
    position: relative;
    background-color: transparent;
    animation-name: loading_rotater;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loading_rotater {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

#massage {
    font-size: 0.8rem;
    background-color: white;
}

input:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

#otp-error {
    width: 18rem;
    background-color: red;
    color: white;
    height: 3rem;
    position: absolute;
    z-index: 11;
    top: 0rem;
    left: 32%;
    margin: auto;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#otp-error span {
    cursor: pointer;
    font-size: 1.5rem;
}